@model IEnumerable<Evaluacion4.Models.Entidad.Compras>
@inject IAuthorizationService AuthorizationService

<div class="contenedor-principal_carrito" >
    <div class="principal_carrito">
        <div class="carrito">
            <section class="seccion_cosas">
                <div class="cosas_title shadow-personal">
                    @{

                        int cantidadProducto = ViewBag.cantidad;

                    }
                    <h2>Cesta de productos (@cantidadProducto)</h2>
                </div>
                <div class="cosas_productos shadow-personal">
                    @{

                        if (cantidadProducto == 0)
                        {
                            <h2>Tu carrito de compras esta vacio.</h2>
                        }

                    }
                    @foreach (var item in Model)
                    {
                        <div class="productos">
                            <div class="contenido_principal">
                                <div class="contenido_foto">
                                    @if (string.IsNullOrEmpty(item.Producto.Imagen))
                                    {
                                        <a asp-controller="Producto" asp-action="Detail" asp-route-id="@item.IdProducto"
                                    target="_blank">
                                            <img src="~/imagen/producto/nodisponible.jpg"
                                        alt="VirtualShop Carto photo-No disponible" />
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-controller="Producto" asp-action="Detail" asp-route-id="@item.IdProducto"
                                    target="_blank">
                                            <img src="~/@item.Producto.Imagen" alt="VritualShop Cart photo" />
                                        </a>
                                    }
                                </div>
                                <div class="contenido_descripcion">
                                    <p class="descripcion-texto">@item.Producto.Descripcion</p>
                                    <p class="descripcion-precio" style="font-weight: bold;">Codigo: <span
                                        class="descripcion-texto">@item.Producto.Codigo</span></p>
                                    <p class="descripcion-precio"
                                    style="font-weight: bold; font-style: italic; margin-top: 10px;">S/
                                        @item.Producto.Precio</p>
                                </div>
                                <div class="contenido_btn-DeseosYEliminar">
                                    <div class="contenedor_deseos-eliminar">
                                        <a class="btn_deseos" title="Añadir a deseos"><i class="gg-heart"></i></a>
                                        <a class="btn_eliminar-carrito" asp-controller="Producto" asp-action="DeleteCompra"
                                        asp-route-id="@item.IdCompras" title="Eliminar del carrito">
                                            <i class="gg-trash"></i>
                                        </a>
                                    </div>
                                    @*<div class="contenedor_cantidad">
                                        <span>
                                        <button id="btnRemove" class="cantidad_btn-remove">-</button>
                                        </span>
                                        <span class="span-input">
                                        <input aria-valuemin="1" aria-valuemax="99" id="inputCantidad"
                                        class="input-cantidad" value="1" disabled>
                                        </span>
                                        <span>
                                        <button id="btnAdd" class="cantidad_btn-add">+</button>
                                        </span>
                                        </div>*@
                                </div>
                            </div>
                            <div class="contenido_btn-pagarXproducto">
                                <a class="boton-pagar-uno" asp-controller="Producto" asp-action="PagarxProducto"
                                asp-route-id="@item.IdCompras">
                                    Comprar solo este producto
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </section>
            @if (cantidadProducto > 0)
            {
                <section class="seccion_resumen">
                    <div class="resumen shadow-personal">
                        <div class="resumen_title">
                            <h2>Resumen de pedido</h2>
                        </div>
                        <div class="resumen_subtotal-envio">
                            @{

                                float subcosto = ViewBag.costo;
                                float precioEnvio = 0;
                                if (subcosto == 0)
                                {
                                    precioEnvio = 0;
                                }
                                else
                                {
                                    precioEnvio = 5;
                                }

                            }
                            <div class="subtotal">
                                <p class="subtotal_styles">Subtotal</p>
                                <p class="subtotal_styles subtotal_dinero" id="droSubtotal">S/ @subcosto</p>
                            </div>
                            <div class="envio">
                                <p class="envio_styles">Envio</p>
                                <p class="envio_styles">S/ @precioEnvio</p>
                            </div>
                        </div>
                        <div class="resumen_total">
                            <div class="total">
                                <p style="font-size: 18px;">Total</p>
                                @{

                                    float costo = subcosto + precioEnvio;

                                }
                                <p class="total_dinero" id="droTotal">S/ @costo</p>
                            </div>
                        </div>
                        <div class="resumen_btn-comprar">
                            <a class="btnPagarxProductos"
                            id="btnTodoPago" style="cursor: pointer;">Comprar todo</a>
                        </div>
                    </div>
                </section>
            }
        </div>
    </div>
</div>