@page
@model RegisterModel
@{
    ViewData["Title"] = "Regístrase";
}

<h1 class="title-register">@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
            <h5>Crea tu cuenta y descubre algo increíble.</h5>
            <hr />
            <div class="form-group">
                <label>Nombre</label>
                <input asp-for="Input.Nombre" class="form-control">
                <span asp-validation-for="Input.Nombre" class="text-danger span-error"></span>
            </div>
            <div class="form-group">
                <label>Apellido paterno</label>
                <input asp-for="Input.APaterno" class="form-control">
                <span asp-validation-for="Input.APaterno" class="text-danger span-error"></span>
            </div>
            <div class="form-group">
                <label>Apellido materno</label>
                <input asp-for="Input.AMaterno" class="form-control">
                <span asp-validation-for="Input.AMaterno" class="text-danger span-error"></span>
            </div>
            <div class="form-group">
                <label>DNI</label>
                <input asp-for="Input.DNI" class="form-control">
                <span asp-validation-for="Input.DNI" class="text-danger span-error"></span>
            </div>
            <div class="form-group">
                <label>Direccion</label>
                <input asp-for="Input.Direccion" class="form-control">
                <span asp-validation-for="Input.Direccion" class="text-danger span-error"></span>
            </div>
            <div class="form-group">
                <label>Foto de perfil</label>
                <input type="file" name="picture" class="form-control">
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email">Email</label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger span-error"></span>
            </div>
            <div class="form-group contenedor-contraseña">
                <label asp-for="Input.Password">Contraseña</label>
                <div class="form-control input-contraseña">
                    <input id="inputPassword" type="password" asp-for="Input.Password" class="" />
                    <span id="eye" onclick="showPassword()">
                        <i class="eye-button-close" id="closeEye"></i>
                        <i style="display:none;" class="eye-button-open" id="openEye"></i>
                    </span>
                </div>
                <span asp-validation-for="Input.Password" class="text-danger span-error"></span>
            </div>
            <div class="form-group contenedor-contraseña">
                <label asp-for="Input.ConfirmPassword">Confirmar contraseña</label>
                <div class="form-control input-contraseña">
                    <input id="inputConfirmPassword" type="password" asp-for="Input.ConfirmPassword" class="" />
                    <span id="eye" onclick="showConfirmPassword()">
                        <i class="eye-button-close" id="closeEyev2"></i>
                        <i style="display:none;" class="eye-button-open" id="openEyev2"></i>
                    </span>
                </div>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger span-error"></span>
            </div>
            <button type="submit" class="btn btn-success boton-crear">Crear cuenta</button>
            <div class="form-group">
                    @* <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p> *@
                    <p style="margin-top: 10px;">
                        <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Ya tengo una cuenta.</a>
                    </p>
                </div>
        </form>
    </div>
    @* <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
            if ((Model.ExternalLogins?.Count ?? 0) == 0)
            {
            <div>
            <p>
            There are no external authentication services configured. See <a
            href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
            for details on setting up this ASP.NET application to support logging in via external services.
            </p>
            </div>
            }
            else
            {
            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post"
            class="form-horizontal">
            <div>
            <p>
            @foreach (var provider in Model.ExternalLogins)
            {
            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your
            @provider.DisplayName account">@provider.DisplayName</button>
            }
            </p>
            </div>
            </form>
            }
            }
            </section>
    </div> *@
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
